:root {
    --black: #121212;
    --altGreen: #44940A;
    --altBrightGreen: #6CE714;
    --lightGray: #8D8D8D;
    --lighterGray: #999999;
    --white: #D9D9D9;
    --pureWhite: #FFFFFF;
    --darkGray: #424242;
}

html body {
    background-color: var(--black);
    color: var(--white);
}