header {
    margin: 1em 30% 0;
}

/* Mobile */
@media (max-width: 768px) {
    header div span {
        visibility: collapse;
    }
}

header div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div span {
    font-size: 1.5em;
    font-weight: 500;
}

header div img {
    max-width: 50px;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

/* Fix <main> element so it looks wide and complete on mobile */
@media (max-width: 768px) {
    main {
        width: 85%;
    }
}


main div {
    width: 100%;
    text-align: center;
    align-self: center;
}

main div h1 {
    margin: 0;
}

main div h2 {
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 0;
}

main div h3 {
    font-weight: 200;
    margin-top: 12px;
    margin-bottom: 0;
}

/* Mobile */
@media (max-width: 768px) {
    footer div span {
        visibility: collapse;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div span {
    font-size: 1.5em;
    font-weight: 500;
}

footer div img {
    max-width: 10%;
    opacity: 0.5;
    margin-bottom: 10px;
}

footer div img:hover {
    opacity: 1;
}

/* hide all scrollbars on all platforms */
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}